/*@media (min-width: 1800px) {
  .container {
    width: 1800px;
  }
}*/

.media-object {
  width: 32px;
  height: 32px;
}

.media-heading {
  margin-top: 8px;
}

label.btn.active {
  z-index: -9999!important;
}
